<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        
        nav {
            background-color: #f4f4f4;
            padding: 10px;
        }
        
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        
        nav ul li {
            display: inline;
            margin-right: 10px;
        }
        
        nav ul li a {
            color: #333;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }
        
        nav ul li a:hover {
            background-color: #ddd;
        }
        
        main {
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        
    </header>
    <nav>
        <ul>
            <li><a href="/products">PRODUCT</a></li>
            <li><a href="/admin">ADMIN</a></li>
        
        </ul>
    </nav>
    <main>
        <h2>Welcome to our website!</h2>
        <p>This is the homepage of our website. Feel free to explore!</p>
    </main>
</body>
</html>
